*.iml
/.idea
/logs
/.settings/
/.project
/.classpath
/*/logs
/*/.factorypath
/*/.settings/
/*/.springBeans
/*/.project
/*/.classpath
/*/target
/*/bin
/*/test-output
/Servers
/tests.web/work
/target/
*.sec
